/**Base Styles**/
body{
  font-family: 'Montserrat', sans-serif;
  color:black;
  font-size: 24px;
  font-weight: normal;
  background-color: #EBEFF2;
  width:1400px;
  margin: 0 auto;
/**  background-image: linear-gradient(0deg,#f2f2f2 0%, #3D403F 100%);**/
}

/**GRID**/
.full-width{
  width:1200px;
  margin:0 auto;
}

.half-width{
  width:50%;
  float: left;
  height:inherit;
}

.third-width{
  width:33%;
  float:left;
}

/**HEADER STYLES**/
header{
  height:500px;
  background: url('../img/hero-background.png') no-repeat;
  background-size: cover;
  padding-bottom: 10%;
  background-position: center;
}

header h1{
  font-size: 72px;
  font-family: 'Source Code Pro', monospace;
  color: black;
  font-weight:normal;
  align-self: center;
  padding: 20% 0 0 0;
}

header h1 span{
  font-size: 80px;
  color: #ff4500;
}

header p{
  font-size: 30px;
  text-transform:lowercase;
  margin: 19px 0 0 0;
}

header nav{
  float:right;
}

header nav ul li{
  display: inline-block;
  padding:0 23px;
}

header nav ul li a{
  text-decoration: none;
  text-transform: lowercase;
  font-size:30px;
  color: black;
}

/**MAIN CONTENT**/
h1, h2, h3, h4, h5{
  margin:0;
}


/**Portfolio Section**/
#portfolio h2, #about h2, #contact h2{
  font-family: 'Source Code Pro', monospace;
  font-size:36px;
  color:orangered;
  text-align: center;
  padding:50px 0;
}

#portfolio h3{
  font-weight: bold;
}

#portfolio h4{
  font-weight: normal;
  font-size:24px;
}

#portfolio p{
  font-weight: normal;
}

#portfolio .full-width{
  height:350px;
  padding:50px 0;
}

#first-project-thumbnail{
  background: url('../img/rogue-pickings-thumbnail.png') no-repeat;
  background-size: cover;
}

#second-project-thumbnail{
  background: url('../img/jubilee-thumbnail.png') no-repeat;
  background-size: cover;
  width:45.8%;
}

#right-side-description{
  width:45.8%;
  padding-left: 50px;
}


#left-side-description{
  padding-right: 50px;
}

#right-side-description h3 a, #left-side-description h3 a{
  text-decoration: inherit;
  color: inherit;
 }
/**About Section**/
#about{
  background: url('../img/about-me.png') no-repeat;
  /**Photo by James Pond on Unsplash**/
  background-size: cover;
  background-position: right;
  height: 600px;
  margin-top: 50px;
}

#about h3{
  font-weight: bold;
  color:#1f202b;
}

#about p{
  color:#1f202b;
}

#about p span{
  font-family: "Comic Sans MS";
  color: #ff4500;
}
/**Contact Section**/
#contact h3{
  font-weight: bold;
}

#contact h5{
  font-size: 16px;
  font-weight: normal;
  clear: both;
  text-align: center;
}

#contact p{
  font-size: 22px;
}

#contact .third-width{
  padding:70px 0;
  text-align: center;
}

#contact ul{
  padding:0;
}

#contact ul li{
  text-decoration: none;
  display:inline-block;
  padding:0 20px;
  text-align: center;
}

#contact a{
  text-decoration: none;
  color:inherit;
  font-size:20px;
}

#contact a img{
  vertical-align: middle;
}
